In [ ]:
"""
This is Marshall Wolfe's 
FinTech Boot Camp Unit 2 Homework submission 
due 05/02/2020 at 11:59pm CDT

In this file I attempted to use pd.read_csv but got stuck. 
"""

In [52]:
# initial imports
import pandas as pd
from pathlib import Path

In [53]:
# set the file paths
menu_path = Path("Resources/menu_data.csv")
sales_path = Path("Resources/sales_data.csv")

In [54]:
# Initialize list objects to hold our menu and sales data
menu = []
sales = []

In [55]:
# create a Pandas dataframe from a csv file
menu_data = pd.read_csv(menu_path)
menu_data.head(10)

,item,category,description,price,cost
0,edamame,appetizers,"boiled soybeans, maldon sea salt",4.0,1
1,house salad,appetizers,"mixed greens, cherry tomatoes, cucumber, house...",4.0,2
2,cucumber sunomono salad,appetizers,"cucumber, ponzu dressing, pickled ginger sprou...",5.0,2
3,hiyashi wakame seaweed salad,appetizers,"sweet soy-marinated wakame seaweed threads, pi...",5.0,2
4,agedashi tofu,appetizers,"tempura battered tofu, katsuobushi, tsuyu brot...",5.0,2
5,hiyayakko tofu,appetizers,"chilled soft tofu, house shoyu, katsuobushi, g...",5.0,2
6,pork floss bao,appetizers,"two steamed buns, minced lean slow braised nim...",4.0,2
7,kakuni bao,appetizers,"two steamed buns, chopped fatty slow braised n...",6.0,3
8,edamame fried gyoza (vegan),appetizers,six crispy fried edamame and cabbage pot stick...,6.0,3
9,fried gyoza,appetizers,six cripsy fried pork and vegetable pot sticke...,6.0,6

In [68]:
# menu = [list(row) for row in menu_data.values]
# menu[0]
# menu_data.columns
menu_item = menu_data['item']
menu_category = menu_data['category']
menu_description = menu_data['description']
menu_price = menu_data['price']
menu_cost = menu_data['cost']
# menu_cost

In [69]:
# create a Pandas dataframe from a csv file
sales_data = pd.read_csv(sales_path)
sales_data.head(10)

,Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
0,1,01-01-2017,7437926611570799,1,spicy miso ramen
1,2,01-01-2017,7437926611570799,1,spicy miso ramen
2,3,01-01-2017,8421920068932819,3,tori paitan ramen
3,4,01-01-2017,8421920068932819,3,tori paitan ramen
4,5,01-01-2017,4787310681569648,1,truffle butter ramen
5,6,01-01-2017,4787310681569648,1,truffle butter ramen
6,7,01-01-2017,8252818705821725,1,tonkotsu ramen
7,8,01-01-2017,8252818705821725,1,tonkotsu ramen
8,9,01-01-2017,3119034881407323,1,vegetarian spicy miso
9,10,01-01-2017,3119034881407323,1,vegetarian spicy miso

In [70]:
# sales = [list(row) for row in sales_data.values]
# sales[0]
# sales_data.columns
sales_Line_Item_ID = sales_data['Line_Item_ID']
sales_Date = sales_data['Date']
sales_Credit_Card_Number = sales_data['Credit_Card_Number']
sales_Quantity = sales_data['Quantity']
sales_Menu_Item = sales_data['Menu_Item']
# sales_Menu_Item

In [71]:
# Initialize dict object to hold our key-value pairs of items and metrics
report = {}

# Initialize a row counter variable
sales_row_count = 0
revenue = 0


# @TODO: Loop over every row in the sales list object


    # Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
    # @TODO: Initialize sales data variables

    
    
    # If the item value not in the report, add it as a new entry with initialized metrics
    # Naming convention allows the keys to be ordered in logical fashion, count, revenue, cost, profit
    if sales_item not in report:
        report[sales_item] = {"01-count": 0, "02-revenue": 0, "03-cogs": 0, "04-profit": 0}

    # @TODO: For every row in our sales data, loop over the menu records to determine a match
    for sales_row in sales_data:
        for menu_row in menu_data:
            if menu_item == sales_Menu_Item:
                report[sales_item]["01-count"] += 1
                report[sales_item]["02-revenue"] += sales_Quantity * menu_price
                report[sales_item]["03-cogs"] += sales_Quantity * menu_cost
                report[sales_item]["04-profit"] += sales_Quantity * (menu_price - menu_cost)

        # Item,Category,Description,Price,Cost
        # @TODO: Initialize menu data variables
        



        # @TODO: Calculate profit of each item in the menu data


        # @TODO: If the item value in our sales data is equal to the any of the items in the menu, then begin tracking metrics for that item


            # @TODO: Print out matching menu data






            # @TODO: Cumulatively add up the metrics for each item key





        # @TODO: Else, the sales item does not equal any fo the item in the menu data, therefore no match



    # @TODO: Increment the row counter by 1

IndentationError: unexpected indent (<ipython-input-71-c39f294177b7>, line 19)

In [ ]:
# @TODO: Print total number of records in sales data

In [ ]:
# @TODO: Write out report to a text file (won't appear on the command line output)